.artwork {
    padding: 1.5rem;
    will-change: filter;
    transition: filter 300ms;
    max-width: 75%;
    max-height: 75%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    margin: auto;
}

.card {
    background-color: #121212;
    max-width: min(400px, 80vw);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem 0.5rem;
    margin: auto;
    transition: filter 700ms;
}

.card:hover {
    filter: drop-shadow(0 0 2rem var(--spotify-green));
}

.songName {
    width: 20rem;
    max-width: 60vw;
    font-size: larger;
    margin: auto;
}

.artist {
    max-width: 15rem;
    font-size: medium;
    margin: 0.5rem auto;
}

.songLength {
    font-size: smaller;
    color: #888;
    margin: auto;
}

.logo {
    border-radius: 50%;
    height: 8vh;
    fill: var(--spotify-green);
}