  .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.5rem auto;
      width: 100%;

  }

  .playBtn {
      cursor: pointer;
      vertical-align: middle;
      line-height: 0;
      color: var(--spotify-green);
      margin: auto 0.25rem;
  }


  .progressContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: auto 0.25rem;
      width: 30%;
  }

  .progressBar {
      width: 100%;
      height: 0.5rem;
      background: #333;
      border-radius: 6px;
      overflow: hidden;
      margin: 0.05rem auto;
  }

  .progress {
      width: 100%;
      height: 100%;
      background: #1db954;
      box-shadow: 0px 0px 10px #5e5e5e;
      transition: width 0.3s ease-in;
  }

  .preview {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      vertical-align: bottom;

  }

  .previewLength {
      font-size: x-small;
      color: #888;
      margin: 0 0 0.25rem 0;
  }


  .previewTag {
      background-color: #242424;
      width: fit-content;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem;
      justify-self: start;
      border-radius: 5%;
      font-size: x-small;
  }