#root {
  min-height: 100dvh;
  max-width: 100dvw;
  margin: 0 auto;
}

.container {
  max-width: 100dvw;
  text-align: center;
  justify-content: center;
}

.loader {
  margin: 50dvh auto;
  transform: translateY(-50%);
}

a,
a:visited,
a:hover,
a:active {
  color: var(--spotify-green);
  text-decoration: none;
}

.header {
  margin: 1.5rem auto;
  font-size: xx-large;
}

.hidden {
  height: 0;
}


.actionText{
  font-weight: bold;
}
.actionText:hover {
  color: var(--spotify-green);
  cursor: pointer;
}