#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
}

.artwork {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card:hover {
  filter: drop-shadow(0 0 2em #1ed760);
}

img {
  max-width: 60vw;
  max-height: 60vw;
  aspect-ratio: 1/1;
  border-radius: 30px;
}

.card {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 0.5rem;
  padding: 2em;
  width: 80%;
  transition: filter 700ms;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.song-name {
  font-size: larger;
  margin: auto;
}

.song-length {
  font-size: smaller;
  color: #888;
} 

h1{
  font-size: xx-large;
}

.logo {
  border-radius: 50%;
  height: 8vh;
  fill: #1ed760;
}