#root {
  min-height: 100dvh;
  max-width: 100dvw;
  margin: 0 auto;
}

.container {
  max-width: 100dvw;
  text-align: center;
  justify-content: center;
}

.loader {
  margin: 50dvh auto;
  transform: translateY(-50%);
}

.artwork {
  height: 20em;
  width: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 60vw;
  max-height: 60vw;
  aspect-ratio: 1/1;
  border-radius: 30px;
}

.card {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2em;
  max-width: 400px;
  transition: filter 700ms;
}

.card:hover {
  filter: drop-shadow(0 0 2em var(--spotify-green));
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.song-name {
  font-size: larger;
  margin: auto;
}

.song-length {
  font-size: smaller;
  color: #888;
}

h1 {
  font-size: xx-large;
}

.logo {
  border-radius: 50%;
  height: 8vh;
  fill: var(--spotify-green);
}